<html lang="en" ng-app="FW">

<head>
    <meta content="initial-scale=1" name="viewport"/>
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="styles/material.cyan-light_blue.min.css" rel="stylesheet">
    <link href="styles/angular-material.css" rel="stylesheet">
    <link href="styles/docs.css" rel="stylesheet">
    <link href="styles/table.css" rel="stylesheet">
    <link href="styles/notifications.css" rel="stylesheet">
</head>
<body>
<div class="mdl-grid" style="width:1300px">
    <!-- create a div that is opposite in side to the below div -->
    <div class="mdl-data-tabledynamic__title-button" ng-controller="dataLoader">
        <div>
            <!-- text field for saving the rules  with material design-->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="save-textfield" ng-model="saveText">
                <label class="mdl-textfield__label" for="save-textfield">Path...</label>
            </div>
            <a id="save-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
               ng-click="saveJSON()">
                Save Rules
            </a>
        </div>
        <div style="padding-top: 10px">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="load-textfield" ng-model="loadText">
                <label class="mdl-textfield__label" for="load-textfield">Path...</label>
            </div>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
               ng-click="loadJSON()">
                Load Rules
            </a>
        </div>
    </div>
    <div class="mdl-data-tabledynamic__title-button" style="margin-left: 50%; position: absolute">
        <!-- two headers below each other -->
        <h2 class="nic_title" id="nic_1"></h2>
        <h2 class="nic_title"id="nic_2" style="margin-top:50px"></h2>
    </div>
    <div class="mdl-data-tabledynamic mdl-shadow--2dp" id="Rules">
        <div class="mdl-data-tabledynamic__title">
            <h2 class="mdl-data-tabledynamic__title-text">Rules</h2>
            <div class="mdl-data-tabledynamic__actions">
                <a ng-controller="NICSModal" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect add-row"
                    ng-click="select($event)" id="choose_nics">
                    Change NICS
                </a>
                <div style="display: contents" ng-controller="ruleModifications">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect add-row"
                    ng-click="add_row($event)">
                        ADD Rule
                    </a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect remove-row"
                       ng-click="prompt_remove($event)">
                        REMOVE Rule
                    </a>
                </div>

            </div>

        </div>

        <div class="mdl-data-tabledynamic__content">
            <table class="mdl-data-table mdl-data-dynamictable mdl-js-data-table mdl-shadow--2dp mdl-cell--6-col mdl-data-table__row--selectable">
                <thead>

                <tr>
                    <th>
                        <!--<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="checkbox-all">
                            <input type="checkbox" id="checkbox-all" class="mdl-checkbox__input">
                        </label>-->
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">Rule Index</th>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                    <th class="mdl-data-table__cell--non-numeric">Direction</th>
                    <th class="mdl-data-table__cell--non-numeric">Source IP Address</th>
                    <th class="mdl-data-table__cell--non-numeric">Destination IP Address</th>
                    <th>Source Port</th>
                    <th>Dest Port</th>
                    <th class="mdl-data-table__cell--non-numeric">Protocol</th>
                    <th class="mdl-data-table__cell--non-numeric">ACK</th>
                    <th class="mdl-data-table__cell--non-numeric">Action</th>
                    <th class="mdl-data-table__cell--non-numeric">Hit Count</th>
                </tr>
                </thead>
                <tbody>
                <tr class="checkbox-default">
                    <td>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric" style="text-align: left"><span class="mdl-data-table__label" title="Rule Index">-1</span></td>
                    <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label" title="Name">default</span></td>
                    <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label" title="Direction">any</span>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label" title="Source IP">any</span>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label" title="Dest IP">any</span>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label"
                                                                        title="Source Port">any</span></td>
                    <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label" title="Dest Port">any</span>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label" title="Protocol">any</span>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label"
                                                                        title="ACK">any</span></td>
                    <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label"
                                                                        title="Action">drop</span></td>
                    <td class="mdl-data-table__cell--non-numeric" style="text-align: left"><span class="hit_count_class mdl-data-table__label" title="Hit Count">0</span></td>

                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
<script id="addContentDialogTemplate" type="text/template">
    <div class="mdl-dialog__addContent mdl-shadow--2dp">
        <h3 class="mdl-dialog__title">Add {{title}}</h3>
        <div class="mdl-dialog__content">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="content" {{pattern}}>
                <label class="mdl-textfield__label" for="content"></label>
                <span class="mdl-textfield__error">{{error}} </span>
            </div>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="save mdl-button mdl-button--colored mdl-color-text--red-500">Save</button>
            <button type="button" class="close mdl-button mdl-button--colored mdl-color-text--red-500"
                    style="opacity: 1">Cancel
            </button>
        </div>
    </div>
</script>
<script id="basketItemTemplateReady" type="text/template">
    <tr class="failed data-row">
        <td>
            <label class="checkbox-label" for="{{id}}">
                <input type="checkbox" id="{{id}}" class="checkbox">
            </label>
        </td>
        <td           class="mdl-data-table__cell--non-numeric" style="text-align: left"><span class="index mdl-data-table__label"
                                                                                               title="Rule Index">{{index_rule}}</span></td>
        <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label add-table-content"
                                                            title="Name">{{Name}}</span></td>
        <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label add-table-content"
                                                            title="Direction">{{Direction}}</span></td>
        <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label add-table-content"
                                                            title="Source IP">{{Source IP}}</span></td>
        <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label add-table-content"
                                                            title="Dest IP">{{Destination IP}}</span></td>
        <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label add-table-content"
                                                            title="Source Port">{{Source Port}}</span></td>
        <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label add-table-content"
                                                            title="Dest Port">{{Destination Port}}</span></td>
        <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label add-table-content"
                                                            title="Protocol">{{Protocol}}</span></td>
        <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label add-table-content"
                                                            title="ACK">{{ACK}}</span></td>
        <td class="mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label add-table-content"
                                                            title="Action">{{ACTION}}</span></td>
        <td class="mdl-data-table__cell--non-numeric"><span class="hit_count_class mdl-data-table__label add-table-content"
                                                            title="Hit Count">0</span></td>
    </tr>
</script>
<script id="basketItemTemplate" type="text/template">
    <tr class="data-row">
        <td>
            <label class="checkbox-label" for="{{id}}">
                <input type="checkbox" id="{{id}}" class="checkbox">
            </label>
        </td>
        <td           class="mdl-data-table__cell--non-numeric" style="text-align: left"><span class="index mdl-data-table__label"
                                                                      title="Rule Index">{{index_rule}}</span></td>
        <td class="failed mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label add-table-content"
                                                            title="Name">Add Name</span></td>
        <td class="failed mdl-data-table__cell--non-numeric"><select>
            <option value="" selected disabled hidden></option>
            <option value="in">In</option>
                <option value="out">Out</option>
            <option value="any">Any</option>
            </select>
        </td>
        <td class="failed mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label add-table-content"
                                                                      title="Source IP">Add Source IP</span></td>
        <td class="failed mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label add-table-content"
                                                                      title="Dest IP">Add Destination IP</span></td>
        <td class="failed mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label add-table-content"
                                                                      title="Source Port">Add Port</span></td>
        <td class="failed mdl-data-table__cell--non-numeric"><span class="mdl-data-table__label add-table-content"
                                                                      title="Dest Port">Add Port</span></td>
        <td class="failed mdl-data-table__cell--non-numeric"><select>
            <option value="" selected disabled hidden></option>
            <option value="TCP">TCP</option>
            <option value="UDP">UDP</option>
            <option value="any">Any</option>

        </select>
        </td>
        <td class="failed mdl-data-table__cell--non-numeric"><select>
            <option value="" selected disabled hidden></option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
            <option value="any">Any</option>

        </select>
        </td>
        <td class="failed mdl-data-table__cell--non-numeric"><select>
            <option value="" selected disabled hidden></option>
            <option value="allow">Allow</option>
            <option value="drop">Drop</option>
        </select>
        </td>
        <td class="mdl-data-table__cell--non-numeric"><span class="hit_count_class mdl-data-table__label"
                                                            title="Hit Count">0</span></td>
    </tr>
</script>
<script src="scripts/deps/jquery-1.12.4.js"></script>
<script src="scripts/deps/jquery-ui.min.js"></script>
<script src="scripts/deps/angular.min.js"></script>
<script src="scripts/deps/angular-animate.js"></script>
<script src="scripts/deps/angular-aria.js" type="text/javascript"></script>
<script src="scripts/deps/angular-material.min.js" type="text/javascript" ></script>
<script src="scripts/deps/angular-material.js" type="text/javascript"></script>
<script src="scripts/deps/angular-messages.js" type="text/javascript"></script>
<script src="scripts/deps/svg-assets-cache.js" type="text/javascript"></script>
<script src="scripts/deps/material.min.js" type="text/javascript"></script>
<script src="scripts/table_utils.js" type="text/javascript"></script>
<script src="scripts/angular_utils.js" type="text/javascript"></script>
<!--<script src="scripts/table.js" type="text/javascript"></script>-->
</body>

</html>